/* Body */
body {
    padding: 0px;
    margin: 0px;
}
h2 {
    font-size: 55px;
}
h3 {
    font-size: 40px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

/* Header */
header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colmar {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.colmer h1 {
    display: flex;
    font-size: 32px;
}

.colmer img {
    display: flex;
}

header nav {
   text-align: right;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 24px;
}

header nav a {
    color: black;
    font-size: 26px;
    text-align: right;
}

.space {
    width: 16px;
    height: 64px;
    background-color: aqua;
}

/* Main */

/* Part-1 */
.part-1 {
    width: 100%;
    display: inline-flex;
    background-color:lightgrey;
}

#banner {
    margin: 32px 24px;
    width: 60%;
}

.part-1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-right: 38px;
    margin-left: 24px;
}

.part-1 h2 {
    margin-bottom: 15px;
}
.part-1 div p {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.part-1 div button {
    background-color: dimgray;
    color: white;
    font-size: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 80%;
    margin-top: 15px;
}

/* part-2 */
.part-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    margin: 32px 24px;
}

.left img {
    width: 60%;
    height: auto;
}

.left div {
    width: 60%;
    height: auto;
}

.left p {
    font-size: 25px;
}

.right {
   display: flex;
   flex-direction: column;
   margin-left: 24px;
   margin-top: 32px;
}
/* orientation */
#orientation {
    display: flex;
}

#orientation div {
    width: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#orientation img {
    width: 35%;
    height: auto;
    margin: 16px;
}

#orientation div h3 {
    margin-bottom: 8px;
}

#orientation div a {
    margin-top: 8px;
    font-size: 25px;
}

#orientation div p {
    font-size: 25px;
}
/* Campus */
#campus {
    display: flex;
}

#campus div {
    width: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

#campus img {
    width: 35%;
    height: auto;
    margin: 16px;
}

#campus div h3 {
    margin-bottom: 8px;
}

#campus div a {
    margin-top: 8px;
    font-size: 25px;
}

#campus div p {
    font-size: 25px;
}
/* Guest */
#guest {
    display: flex;
    background-color: lightgrey;
}

#guest div {
    width: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

#guest img {
    width: 35%;
    height: auto;
    margin: 16px;
}

#guest div h3 {
    margin-bottom: 8px;
}

#guest div a {
    margin-top: 8px;
    font-size: 25px;
}

#guest div p {
    font-size: 25px;
}

/* Part-3 */
.part-3 {
    background-color: lightgray;
}
.part-3 h2 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.part-3 .break {
    flex-basis: 100%;
}
.start-learning {
    display: flex;
    justify-content: center;
    margin: 32px 72px;
    flex-wrap: wrap;
}

.part-3 .course {
    margin: 32px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 532px;
}

.part-3 .course img {
    height: auto;
}

.part-3 .course h3 {
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 8px;
    margin-left: 25px;
}

.part-3 .course h4 {
    font-weight: lighter;
    font-size: 30px;
    margin-top: 8px;
    margin-left: 25px;
    margin-bottom: 8px;
}

.part-3 .course p {
    font-size: 30px;
    margin-top: 8px;
    margin-left: 25px;
    margin-bottom: 24px;
    margin-right: 40px;

}

/* Part-4 */
.part-4 h2 {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}
.thesis {
    display: flex;
    margin-bottom: 32px;
}

.video {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.video video {
    display: flex;
    margin-bottom: 24px;
}

.video h3 {
    margin-top: 24px;
    margin-bottom: 8px;
}

.video p {
    margin-top: 8px;
    color: grey;
    font-size: 30px;
}

.part-4 .articles {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 24px;
    margin-right: 5px;
}
/* fisma */
.fisma {
    display: flex;
    background-color: lightgrey;
    justify-content: center;
}

.fisma img {
    margin: 16px;
    height: auto;
    width: 35%;
}

.fisma div {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
    margin-left: 16px;
}

.fisma div h3 {
    margin-top: 32px;
    margin-bottom: 12px;
}

.fisma div p {
    font-size: 30px;
    color: gray;
    margin-top: 12px;
    margin-bottom: 32px;
}
/* now-then */
.now-then {
    display: flex;
    justify-content: center;
}

.now-then img {
    margin: 16px;
    height: auto;
    width: 35%;
}

.now-then div {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
    margin-left: 16px;
}

.now-then div h3 {
    margin-top: 32px;
    margin-bottom: 12px;
}

.now-then div p {
    font-size: 30px;
    color: gray;
    margin-top: 12px;
    margin-bottom: 32px;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 50px;
    margin-left: 24px;
    font-size: 30px;
    color: gray;
}

footer nav a {
    color: gray;
    margin: 10px;
}


