/* Body */
body {
    
    
}

/* Header */
header {
    width: 100%;
    height: 64px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#colmer {
    display: flex;
    align-items: center;
    font-size: 32px;
    justify-content: space-between;
}

header nav {
   text-align: right;
   display: flex;
   justify-content: space-between;
   width: auto;
}

header nav a {
    justify-content: space-around;
    text-decoration: none;
    color: black;
    font-size: 32px;
    text-align: right;
    
}

/* Main */

/* Part-1 */
